  <h1> Employee Show Page </h1> 
    <h2><%= @employee.first_name + " " + @employee.last_name%></h2>  
    <h2><%= @employee.alias%></h2>  
    <h2><%= @employee.title%></h2> 
    <h2><%= @employee.office%></h2>  



   <p><%=@employee.dog.name%></p>